{% layout 'layout.liquid'%}
{% block content %}
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/myrecipes">My Recipes</a>
            {% if loggedIn %}
            <a class="nav-link text-light" href="/maincourses/mine">My Main courses</a>            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <a class="nav-link text-light" href="/desserts/mine">My Desserts</a> 
                        {%- comment -%} Future additions {%- endcomment -%}
            {%- comment -%} <a class="nav-link text-light" href="/appetizers/mine">My Appetizers</a>  
            <a class="nav-link text-light" href="/beverages/mine">My Beverages</a>                 {%- endcomment -%}
            {% endif %} 
            </div>
        </div>
    </nav>
    <h2 class="display-6">All My Recipes</h2>
    <div class="row">
        {% for myrecipes in myrecipes %}
        {%- comment -%} {%if maincourse.id == maincourse.id%}  {%- endcomment -%}
        {%- comment -%} {%if maincourse in maincourse%} {%- endcomment -%}
    <div class = 'container'>      
            <div class="row">
                {% for maincourse in myrecipes %}
                <div class="card" style="width: 18rem;">
                    <h5 class="card-header">{{ maincourse.name }}</h5>
                    <div class="card-body">
                        <p class="card-text">                          
                            {% if maincourse.plantBased %}
                                Plant Based
                            {% else %}
                                Not plant based
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {% if maincourse.vegitarian %}
                                vegetarian
                            {% else %}
                                Not vegetarian 
                            {% endif %}
                        </p>
                        <p class="card-text">
                        {% if maincourse.dairyFree %}
                                Dairy free
                            {% else %}
                                Not dairy free
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {% if maincourse.hasMeat %}
                                Contains meat
                            {% else %}
                                No meat
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {% if maincourse.hasGluten %}
                                Gluten free
                            {% else %}
                                Not gluten free
                            {% endif %}
                        <h5 class="card-header">{{ ingredients.name }}</h5>
                        <h5 class="card-header">{{ directions.name }}</h5>
                        </p>
                        <a href="/maincourses/{{ maincourse.id }}" class="btn btn-info">
                            View {{ maincourse.name }}
                        </a>
                    </div>
                </div>        
                {% endfor %}
            </div>
    {%- comment -%} {% else %}        {%- endcomment -%}
             <div class="row"> 
        {% for dessert in myrecipes %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ dessert.name }}</h5>
            <div class="card-body">
                <p class="card-text">
                    {% if dessert.plantBased %}
                        Plant Based
                    {% else %}
                        Not plant based
                    {% endif %}
                </p>
                <p class="card-text">
                    {% if dessert.vegitarian %}
                        vegetarian
                    {% else %}
                        Not vegetarian 
                    {% endif %}
                </p>
                <p class="card-text">
                   {% if dessert.dairyFree %}
                        Dairy free
                    {% else %}
                        Not dairy free
                    {% endif %}
                </p>
                <p class="card-text">
                    {% if dessert.hasMeat %}
                        Contains meat
                    {% else %}
                        No meat
                    {% endif %}
                </p>
                <p class="card-text">
                    {% if dessert.hasGluten %}
                        Gluten free
                    {% else %}
                        Not gluten free
                    {% endif %}
                 <h5 class="card-header">{{ ingredients.name }}</h5>
                 <h5 class="card-header">{{ directions.name }}</h5>
                </p>
                <a href="/desserts/{{ dessert.id }}" class="btn btn-info">
                    View {{ dessert.name }}
                </a>
            </div>
            </div>
        {% endfor %}
        </div> 
        </div>  
    {%- comment -%} {% endif %}        {%- endcomment -%}
        {% endfor %}
    </div>
</div>
{% endblock %}