{% layout 'layout.liquid'%}
{% block content %}
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/myrecipes">My Recipes</a>
            {% if loggedIn %}
            <a class="nav-link text-light" href="/maincourses/mine">My Main courses</a>            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <a class="nav-link text-light" href="/desserts/mine">My Desserts</a> 
                        {%- comment -%} Future additions {%- endcomment -%}
            {%- comment -%} <a class="nav-link text-light" href="/appetizers/mine">My Appetizers</a>  
            <a class="nav-link text-light" href="/beverages/mine">My Beverages</a>                 {%- endcomment -%}
            {% endif %} 
            </div>
        </div>
    </nav>
    <h2 class="display-6">All My Recipes</h2>
    {%- comment -%} <div class = 'container'> {%- endcomment -%}
    <div class="row">
        {% for mainCourse in myRecipes[0] %}
            {%- comment -%} {%if maincourse.type %}         {%- endcomment -%}
            {%- comment -%} <div class="row"> {%- endcomment -%}
                {%- comment -%} {% for maincourse in myRecipes%}                    {%- endcomment -%}
                <div class="card" style="width: 18rem;">
                    <h5 class="card-header">{{ mainCourse.name }}</h5>
                    <div class="card-body">
                        <p class="card-text">                          
                            {% if mainCourse.plantBased %}
                                Plant Based
                            {% else %}
                                Not plant based
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {% if mainCourse.vegitarian %}
                                vegetarian
                            {% else %}
                                Not vegetarian 
                            {% endif %}
                        </p>
                        <p class="card-text">
                        {% if mainCourse.dairyFree %}
                                Dairy free
                            {% else %}
                                Not dairy free
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {% if mainCourse.hasMeat %}
                                Contains meat
                            {% else %}
                                No meat
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {% if mainCourse.hasGluten %}
                                Gluten free
                            {% else %}
                                Not gluten free
                            {% endif %}
                        {%- comment -%} <h5 class="card-header">{{ ingredients.name }}</h5>
                        <h5 class="card-header">{{ directions.name }}</h5> {%- endcomment -%}
                        </p>
                        <a href="/maincourses/{{ mainCourse.id }}" class="btn btn-secondary">
                        View {{ mainCourse.name }} 
                        </a>
                    </div>
                </div>        
                {%- comment -%} {% endfor %} {%- endcomment -%}
            {%- comment -%} </div> {%- endcomment -%}
            {%- comment -%} {% else dessert.type %}        {%- endcomment -%}
             {%- comment -%} <div class="row">  {%- endcomment -%}
        {% for dessert in myRecipes[1] %}
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">{{ dessert.name }}</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% if dessert.plantBased %}
                            Plant Based
                        {% else %}
                            Not plant based
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {% if dessert.vegitarian %}
                            vegetarian
                        {% else %}
                            Not vegetarian 
                        {% endif %}
                    </p>
                    <p class="card-text">
                    {% if dessert.dairyFree %}
                            Dairy free
                        {% else %}
                            Not dairy free
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {% if dessert.hasMeat %}
                            Contains meat
                        {% else %}
                            No meat
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {% if dessert.hasGluten %}
                            Gluten free
                        {% else %}
                            Not gluten free
                        {% endif %}
                {%- comment -%} <h5 class="card-header">{{ ingredients.name }}</h5>
                <h5 class="card-header">{{ directions.name }}</h5> {%- endcomment -%}
                    </p>
                    <a href="/desserts/{{ dessert.id }}" class="btn btn-secondary">View {{ dessert.name }}
                    </a>
            {%- comment -%} </div> {%- endcomment -%}
                </div>
        {% endfor %}
            </div> 
    {%- comment -%} </div>  {%- endcomment -%}
            {%- comment -%} {% endif %}         {%- endcomment -%}
        {% endfor %}
    </div>
</div>
{% endblock %}